In [4]:
import pandas as pd

In [30]:
names = ['Bob','Jessica','Mary','John','Mel','Frank','Eugen','Tina']
grades = [76,95,77,78,99,94,82,94]
bsdegrees = [1,1,0,0,1,1,1,1]
msdegrees = [2,1,0,0,0,2,1,1]
phddegrees = [0,1,0,0,0,0,0,0]

In [31]:
GradeList = zip(names,grades,bsdegrees,msdegrees,phddegrees)
df = pd.DataFrame(data=GradeList,
columns=['Names','Grades','BSdegrees','MSdegrees','PHDdegrees'])
df

     Names  Grades  BSdegrees  MSdegrees  PHDdegrees
0      Bob      76          1          2           0
1  Jessica      95          1          1           1
2     Mary      77          0          0           0
3     John      78          0          0           0
4      Mel      99          1          0           0
5    Frank      94          1          2           0
6    Eugen      82          1          1           0
7     Tina      94          1          1           0

In [32]:
df['Grades'].count()

8

In [33]:
df['Grades'].mean()

86.875

In [34]:
df['Grades'].std()

9.508454884244562

In [35]:
df['PHDdegrees'].min()

0

In [36]:
df['MSdegrees'].max()

2

In [37]:
df['Grades'].quantile(.25)

77.75

In [38]:
df['Grades'].quantile(.5)

88.0

In [39]:
df['Grades'].quantile(.75)

94.25

In [40]:
df['Grades'].median()

88.0

In [41]:
df['Grades'].mode()

0    94
dtype: int64

In [42]:
df['Grades'].var()

90.41071428571429

In [43]:
df.var()

Grades        90.410714
BSdegrees      0.214286
MSdegrees      0.696429
PHDdegrees     0.125000
dtype: float64